{% extends 'base.html' %}
{% block title %}Xtina Metics{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <title> Responsive category bar </title>
        <link rel ="stylesheet" href ="style.css">
    </head>
    <body>
        <nav class ="menu">
            <a class ="toggle-nav" href ="#">&#9776;</a>
            <ul>
                <li><a href ="#"> Home</a></li>
                <li><a href ="#"> Gallery</a></li>
                <li><a href ="#"> Event</a></li>
                <li><a href ="#"> Feedback</a></li>
                <li><a href ="#"> Contact</a></li>
            </ul>
        </nav>
    </body>
</html>

{% endblock %}