{% extends 'base.html' %}
{% block title %}Xtina Metics{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/products">View all products</a></li>
    <li><a href="/ingredients">View all ingredients</a></li>
  </ul>

  <h2>Functional Search Box</h2>
  <form action="/products" action="/ingredients" method="POST">
    <p>
        <input type ="text" name ="search" placeholder="Search..">
                <input type ="submit" value ="Search">
    </p>
  </form>
{% endblock %}
